/*
Woods Jason
VFW 1302 
Project 2
CSS
*/

div[id="feature"]>h1{
	text-align:left;
	border-radius:10px;
	margin: 2% 5% 2% 2%;
	padding: 1% 1% 1% 5%;
	
	width: 90%;
	font-style: bold;
	color:#CCCC99;
}
div[id="feature"]{
	padding:1% 1% 1% 1%;
	border: 1px solid #595959;
	border-radius:5px;
	background: url('../img/Feature_10.png');
	background-repeat:no-repeat;
	background-position:80%;

}

div[id="feature"]>p{
	color:#CCCC99;
}
div[id="feature"]>input{
	margin-left:60%;
}
div[id="browse"]>h2{
	text-align:left;
	border: 5px solid #595959;
	background-color:#403E3E;
	border-radius:10px;
	color:#CCCC99;

}
div[id="browse"]>p{
	color:#CCCC99;
}
div[id="search"]>label{
	color:#CCCC99;
}
body{
	font-size:13px ;
	font-family:sans-serif,Arial,times;
	background-color:#403E3E;
	
	width: 90%;
	margin: 2% 2% 2% 2%;
	padding:2% 2% 2% 2%;
	color:#CCFF99;
}

a{
	color:white;

}
a:hover{color:gray;outline: none;}

input{
	display: block;
}
textarea{
	display: block;
}
fieldset{
	background-color: #403E3E;
	border-color:#595959;
	border-radius:10px;
}

legend{
	border: 2px solid #595959;
	background-color:#403E3E;
	border-radius:10px;
	color:#E8E8E8;
}
input[type="text"] {
	font-family: Helvetica, Arial, "Sans Serif";
	color:black;
	border: 2px solid gray;
	border-radius: 3px;
}

input[type="text"]:focus {
	border-color:#fff5f0;
	
}
input[type="email"] {
	font-family: Helvetica, Arial, "Sans Serif";
	color:black;
	border: 2px solid gray;
	border-radius: 3px;
}

input[type="email"]:focus {
	border-color:#fff5f0;
}
input[type="date"] {
	font-family: Helvetica, Arial, "Sans Serif";
	color:black;
	border: 2px solid gray;
	border-radius: 3px;
}

input[type="date"]:focus {
	border-color:#fff5f0;
}
textarea{
	font-family: Helvetica, Arial, "Sans Serif";
	color:black;
	border: 2px solid gray;
	border-radius: 3px;
}
textarea:focus{
	border-color:#fff5f0;
}
input[type="range"] {
	border: 2px solid gray;
	border-radius: 3px;
}

input[type="range"]:focus {
	border-color:#fff5f0;
}
li[id="links"]{

	margin-left:-80px;
	list-style:none;
}
li[id="links"]>a{
	display:block;
	margin-top:10px;
	margin-bottom:10px;
}
ul[id="error"]{
	color:red;
	font-size:14pt;
}
a[id="add"]{
	
	display:none;
}
li{
	list-style:none;
	margin-left:-20px;
}
ul{
	list-style:none;
}
