/*
Woods Jason
VFW 1302 
Project 2
CSS
*/
body{
	font-size:13px ;
	font-family:sans-serif,Arial,times;
	background-color:#CCCCCC;
	
	width: 90%;
	margin: 2% 2% 2% 2%;
	padding:2% 2% 2% 2%;
	color:white;
}
input[id="AddClient"]{
	 position: relative; 
	top: -17px;
	left: 190px;
	background-color:gray;
}
input[id="find"]{
	position:relative;
	top: -24px;
	left:140px;
}
a{
	color:black;

}
a:hover{color:gray;outline: none;}

input{
	display: block;
}
textarea{
	display: block;
}

fieldset{
	background: -webkit-gradient(linear, left top, right top, color-stop(20%,#494949), color-stop(50%,#c1c1c1), color-stop(80%,#666666));
	background: linear-gradient(to right, #494949 20%,#c1c1c1 50%,#666666 80%);
	border-color:#595959;
	border-radius:10px;
}

legend{
	border: 2px solid #595959;
	background-color:#403E3E;
	border-radius:10px;
	color:#E8E8E8;
}
input[type="text"] {
	font-family: Helvetica, Arial, "Sans Serif";
	color:black;
	border: 2px solid gray;
	border-radius: 3px;
}

input[type="text"]:focus {
	border-color:#fff5f0;
	
}
input[type="email"] {
	font-family: Helvetica, Arial, "Sans Serif";
	color:black;
	border: 2px solid gray;
	border-radius: 3px;
}

input[type="email"]:focus {
	border-color:#fff5f0;
}
input[type="date"] {
	font-family: Helvetica, Arial, "Sans Serif";
	color:black;
	border: 2px solid gray;
	border-radius: 3px;
}

input[type="date"]:focus {
	border-color:#fff5f0;
}
textarea{
	font-family: Helvetica, Arial, "Sans Serif";
	color:black;
	border: 2px solid gray;
	border-radius: 3px;
}
textarea:focus{
	border-color:#fff5f0;
}
input[type="range"] {
	border: 2px solid gray;
	border-radius: 3px;
}

input[type="range"]:focus {
	border-color:#fff5f0;
}
li[id="links"]{

	margin-left:-80px;
	list-style:none;
}
li[id="links"]>a{
	display:block;
	margin-top:10px;
	margin-bottom:10px;
}
ul[id="error"]{
	color:red;
	font-size:14pt;
}
a[id="add"]{
	
	display:none;
}
li{
	list-style:none;
}
ul{
	list-style:none;
}
